@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}
a{
    text-decoration: none;
}
body{
    background-image: url(../img/body-img.png);
    height: 100%;
  
    background-repeat: no-repeat;
    background-size: cover;

}
button{
    cursor: pointer;
}
.page-1{
    background-image: url(../img/big_img.png);
    height:960px;
   width: 1920px;
   margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
}
.header-container{
    width: 1760px;
    margin: 0 auto;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
}
.hrefs {
    display: flex;
    gap: 56px;
    
}

.hrefs a{
    color: white;
}

.btn-modal button{
    width: 183px;
height: 44px;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    border-radius: 50px;
    border: none;
    color: white;
}
header{
    margin-bottom: 198px;
}
.container{
    width: 1296px;
    margin: 0 auto;
}
h1{
    width: 920px;
    color: white;
    font-weight: 700;
font-size: 64px;
margin-bottom: 50px;
}

.timer{
    display: flex;
    gap: 30px;
}
.data{
    width: 102px;
    height: 112px;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
  
}
.numb{
    font-size: 36px;
    font-weight: 700;
}
.time p{
    opacity: 0.4;
}
.statis{
    width: 100%;
    height: 130px;
    background-color: #121212;
    
}
.stats{
    display: flex;
    align-items: center;
    gap: 81px;
    padding-top: 35px;
}
.stats button{
    width: 169px;
    height: 44px;
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
border-radius: 50px;
border: none;
color: white;
font-weight: 700;
}
.pupils{
    display: flex;
    gap: 30px;
    color: white;
}
.pup-text p{
    opacity: 0.4;
}
.pup-number p{
    font-weight: 700;
}
 .box-scale span{
    color: white;
    margin-left: 30px;
    
 }
.box-scale p{
    color: white;
    color: #4D4D4DFF;
 }
.scale{
    width: 714px;
    height: 6px;
    background-color: white;
    margin-top: 7px;
}
.in-scale{
    width: 440px;
    height: 100%;
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
}
.price-scale{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}
.page-2{
    display: flex;
    align-items: center;
    padding-top: 200px;
    gap: 134px;
}
.komp img{
    width: 526px;
}

.wht-doing h3{
    font-size: 48px;
    font-weight: 700;
    color: white;
    margin-bottom: 45px;
}
.wht-doing p{
    color: white;
    width: 636px;
    line-height: 160%;
}
.page-3{
    margin-top: 200px;
}
.load-text{
    display: flex;
    align-items: center;
    gap: 20px;
}
.load-text p {
    color: white;
    font-size: 48px;
    font-weight: 700;
}
.pg3-text{
    color: white;
    opacity: 0.5;
    width: 411px;
    margin-top: 49px;
    line-height: 160%;
}
.wrap{
    display: flex;
    align-items: center;
    margin-top: 80px;
}
.item p:nth-child(1){
    color: white;
    font-size: 36px;
    font-weight: 700;
}
.block{
    width: 324px;
    height: 80px;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    margin-top: 20px;
}
.item-tx p{
    color: white;
    opacity: 0.5;
    font-size: 14px !important;
    width: 306px;
    line-height: 160%;
    margin-top: 35px;
}


.bl-2{
    height: 60px;
    
}
.bl-3{
    height: 30px;
}
.bl-4{
    height: 10px;
}

.item-tx{
    display: flex;
    justify-content: space-between;
}
.page-4{
    margin-top: 200px;
}
.page-4 h3{
    font-size: 48px;
    font-weight: 700;
    color: white;
    text-align: center;
}
.about-us{
    display: flex;
    gap: 82px;
    align-items: center;
    margin-top: 120px;
}
.box h4{
    font-size: 24px;
    font-weight: 500;
    color: white;
    width: 416px;
    text-align: center;
    margin-top: 60px;
    line-height: 140%;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box p{
    line-height: 160%;
    color: white;
    opacity: 0.8;
    width: 358px;
    text-align: center;
    margin-top: 30px;
}
.page-5{
    margin-top: 231px;
}
.part-load h3{
    color: white;
    font-size: 48px;
    font-weight: 700;
}
.part-load{
    display: flex;
    gap: 51px;
    align-items: center;
}
.vidiki{
    margin-top: 89px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
   
    
}
.wrapers{
    height: 150px;
    width: 324px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #4C4C4CFF;
    border-bottom: 1px solid #4C4C4CFF;
}
.wrapers:nth-child(4){
    border-right: none;
    
}
.wrapers:nth-child(8){
    border-right: none;
    border-bottom: none;
}
.wrapers:nth-child(7){
    border-bottom: none;
}
.wrapers:nth-child(6){
    border-bottom: none;
}
.wrapers:nth-child(5){
    border-bottom: none;
}
.wrapers img{
    width: 198px;
}
.page-6{
margin-top: 243px;
}
.aos-loader h3{
    color: white;
    font-size: 48px;
    font-weight: 700;
    margin-top: 76px;

}
.aos-loader{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.aos-loader p{
    width: 411px;
    color: white;
    opacity: 0.5;
    margin-top: 30px;
    text-align: center;
    line-height: 160%;
}
.aos-block{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.aos-items-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
}
.aos-items span:nth-child(1){
opacity: 0.5;
display: flex;
justify-content: flex-end;

}
.aos-items-left p{
    width: 228px;
    font-size: 18px;
    line-height: 160%;
    text-align: end;
    margin-top: 15px;
}
.aos-line{
    width: 6px;
    height: 667px;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
}
.aos-wraper{
    display: flex;
    gap: 75px;
    margin-top: 80px;
    margin-bottom: 100px;
}
.aos-text-line{
    display: flex;
    align-items: center;
    position: relative;
    
}
.aos-text-line span{
    display: block;
    height: 1px;
    width: 40px;
    background-color: white;
    opacity: 0.3;
    position: absolute;
    right: -73px;
}
.aos-items-right{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
    .aos-items-right p{
        width: 228px;
        font-size: 18px;
        line-height: 160%;
        margin-top: 15px;
    }
    .aos-items-right .aos-items span:nth-child(1){
        opacity: 0.5;
        display: flex;
        justify-content: flex-start;
        
        }  .aos-text-line2{
            display: flex;
            align-items: center;
            position: relative;
            
        }
        .aos-text-line2 span{
            display: block;
            height: 1px;
            width: 40px;
            background-color: white;
            opacity: 0.3;
            position: absolute;
            left: -73px;
        }
      .teach-load{
        display: flex;
        align-items: center;
        gap: 38px;
      }
.teach-load h3{
    font-size: 48px;
    font-weight: 700;
    color: white;
}
.swiper{
    margin-top: 113px;
}

.sw-block{
    display: flex;
    flex-direction: column;
    align-items:center;
   
    color: white;
}
.sw-block h3{
font-size: 24px;
font-weight: 500;
margin-top: 40px;
}
.sw-block img{
    width: 190px;
}
.sw-block p{
    opacity: 0.8;
    margin-top: 15px;
}
.sw-block button{
    width: 143px;
    height: 44px;
    background-color: transparent;
    border-radius: 50px;
    border: 1px solid white;
    margin-top: 30px;
    color: white;
}
.swiper-button-prev::after{
   color: #A23C4CFF;
}
.swiper-button-next::after{
    color: #A23C4CFF;
 }
footer {
    margin-top: 210px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 106px;
    
}
footer h3{
    font-size: 48px;
    font-weight: 700;
}
footer p{
    width: 411px;
    opacity: 0.5;
    line-height: 160%;
    margin: 30px 0 60px 0;
    text-align: center;
}

footer input{
    width: 353px;
    height: 44px;
    border-radius: 50px 0 0 50px;
    border: none;
    outline: none;
    background-color:rgb(255, 253, 253,0.25);
    padding-left: 30px;
}
::-webkit-input-placeholder{
   color: white;

}
footer button{
    width: 160px;
    height: 44px;
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
border-radius: 50px;
border: none;
color: white;
font-weight: 700;
left: -20px;
z-index: 2;
position: relative;

}
.soc-logo{
    margin-top: 40px;
    display: flex;
    gap: 30px;
}
.krug{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
    border-radius: 50px;
}